.sort {
    display: inline-block;
    float: right;
    height:22px;
    margin:0;
    padding:6px 10px 6px 0; 
}
.sort_span {
    color:#111111;
    font-size:14px;
    font-weight:normal;
    font-family: 'Rubik', sans-serif;
}
.sort select {
    padding: 1px;
    -weblit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #fea2a2;
    border-radius: 2px;
    color: #444;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}
.sort select:focus {
    border-color: rgba(233,29,38,1);
    box-shadow: none;
    outline: none;
}